USE [master]
GO
/****** Object:  Database [Math]    Script Date: 08.10.2026 21:57:25 ******/
CREATE DATABASE [Math]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Math', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Math.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Math_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Math_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Math].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Math]
GO
/****** Object:  Table [dbo].[AnswerOptions]    Script Date: 08.10.2026 21:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnswerOptions](
	[AnswerOptionID] [int] NOT NULL,
	[TaskID] [int] NOT NULL,
	[Answer] [nvarchar](100) NOT NULL,
	[IsCorrect] [bit] NOT NULL,
 CONSTRAINT [PK_AnswerOptions] PRIMARY KEY CLUSTERED 
(
	[AnswerOptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Errors]    Script Date: 08.10.2026 21:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Errors](
	[ErrorID] [int] NOT NULL,
	[TaskID] [int] NOT NULL,
	[ErrorText] [nvarchar](130) NOT NULL,
	[Error] [nvarchar](50) NOT NULL,
	[Rate] [float] NOT NULL,
	[Hint] [nvarchar](120) NOT NULL,
 CONSTRAINT [PK_Errors] PRIMARY KEY CLUSTERED 
(
	[ErrorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningProgress]    Script Date: 08.10.2026 21:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningProgress](
	[ProgressID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TaskID] [int] NOT NULL,
	[ReceivedScore] [float] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_LearningProgress] PRIMARY KEY CLUSTERED 
(
	[ProgressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sections]    Script Date: 08.10.2026 21:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[SectionID] [int] NOT NULL,
	[Title] [nvarchar](60) NOT NULL,
 CONSTRAINT [PK_Sections] PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 08.10.2026 21:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskID] [int] NOT NULL,
	[TopicID] [int] NOT NULL,
	[QuestionText] [nvarchar](130) NOT NULL,
	[CorrectAnswer] [nvarchar](30) NOT NULL,
	[MaxScore] [int] NOT NULL,
	[Image] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 08.10.2026 21:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[TopicID] [int] NOT NULL,
	[SectionID] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[DocName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Topics] PRIMARY KEY CLUSTERED 
(
	[TopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08.10.2026 21:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[Login] [nvarchar](15) NOT NULL,
	[Password] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AnswerOptions] ([AnswerOptionID], [TaskID], [Answer], [IsCorrect]) VALUES (1, 3, N'-3', 1)
INSERT [dbo].[AnswerOptions] ([AnswerOptionID], [TaskID], [Answer], [IsCorrect]) VALUES (2, 3, N'3', 0)
INSERT [dbo].[AnswerOptions] ([AnswerOptionID], [TaskID], [Answer], [IsCorrect]) VALUES (3, 3, N'-6', 0)
GO
INSERT [dbo].[Errors] ([ErrorID], [TaskID], [ErrorText], [Error], [Rate], [Hint]) VALUES (1, 1, N'При переносе числа -12 в другую часть уравнения неправильно изменён знак.', N'Ошибка знака', 0.5, N'При переносе числа через знак = измените его знак.')
INSERT [dbo].[Errors] ([ErrorID], [TaskID], [ErrorText], [Error], [Rate], [Hint]) VALUES (2, 2, N'При переносе числа 10 в другую часть уравнения неправильно изменён знак.', N'Ошибка знака', 0.5, N'При переносе числа через знак = измените его знак.')
INSERT [dbo].[Errors] ([ErrorID], [TaskID], [ErrorText], [Error], [Rate], [Hint]) VALUES (3, 3, N'При делении на 2 получен неправильный знак.', N'Ошибка знака', 0.5, N'После переноса 6 получаем -6. Затем разделите -6 на 2.')
GO
INSERT [dbo].[Sections] ([SectionID], [Title]) VALUES (1, N'Алгебра')
INSERT [dbo].[Sections] ([SectionID], [Title]) VALUES (2, N'Геометрия')
INSERT [dbo].[Sections] ([SectionID], [Title]) VALUES (3, N'Тригонометрия')
GO
INSERT [dbo].[Tasks] ([TaskID], [TopicID], [QuestionText], [CorrectAnswer], [MaxScore], [Image]) VALUES (1, 1, N'Решите уравнение: 4x - 12 = 0', N'3', 10, NULL)
INSERT [dbo].[Tasks] ([TaskID], [TopicID], [QuestionText], [CorrectAnswer], [MaxScore], [Image]) VALUES (2, 1, N'Решите уравнение: 5x + 10 = 0', N'-2', 10, NULL)
INSERT [dbo].[Tasks] ([TaskID], [TopicID], [QuestionText], [CorrectAnswer], [MaxScore], [Image]) VALUES (3, 1, N'Решите уравнение: 2x + 6 = 0', N'-3', 10, NULL)
GO
INSERT [dbo].[Topics] ([TopicID], [SectionID], [Title], [DocName]) VALUES (1, 1, N'Линейные уравнения', N'101')
INSERT [dbo].[Topics] ([TopicID], [SectionID], [Title], [DocName]) VALUES (2, 1, N'Квадратные уравнения', N'102')
INSERT [dbo].[Topics] ([TopicID], [SectionID], [Title], [DocName]) VALUES (3, 2, N'Треугольники', N'201')
GO
INSERT [dbo].[Users] ([UserID], [Login], [Password]) VALUES (1, N'Даша', N'111')
GO
ALTER TABLE [dbo].[AnswerOptions]  WITH CHECK ADD  CONSTRAINT [FK_AnswerOptions_Tasks] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([TaskID])
GO
ALTER TABLE [dbo].[AnswerOptions] CHECK CONSTRAINT [FK_AnswerOptions_Tasks]
GO
ALTER TABLE [dbo].[Errors]  WITH CHECK ADD  CONSTRAINT [FK_Errors_Tasks] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([TaskID])
GO
ALTER TABLE [dbo].[Errors] CHECK CONSTRAINT [FK_Errors_Tasks]
GO
ALTER TABLE [dbo].[LearningProgress]  WITH CHECK ADD  CONSTRAINT [FK_LearningProgress_Tasks] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([TaskID])
GO
ALTER TABLE [dbo].[LearningProgress] CHECK CONSTRAINT [FK_LearningProgress_Tasks]
GO
ALTER TABLE [dbo].[LearningProgress]  WITH CHECK ADD  CONSTRAINT [FK_LearningProgress_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[LearningProgress] CHECK CONSTRAINT [FK_LearningProgress_Users]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Topics] FOREIGN KEY([TopicID])
REFERENCES [dbo].[Topics] ([TopicID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Topics]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_Topics_Sections] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Sections] ([SectionID])
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_Topics_Sections]
GO
USE [master]
GO
